*{
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

a{
  text-decoration: none;
  color: #fffbfb;
}


body{
  background-color: #151515;
  color: #fff;
  font-family: 'Open Sans';
  display: flex;
  align-items: center;
  justify-content: center;
}

.container{
  padding-top: 100px;
}

h1{
  font-family: 'Varela Round';
  font-weight: bold;
  letter-spacing: 1px;
  padding-bottom: 10px;
  text-align: left;
}

hr{
  border: none;
  height: 1px;
  background-color: #252525;
  margin-bottom: 2em;
}

#table{
  color: #fff;
  border: none;
  background-color: #151515;
  text-align: left;
  width: 70em;
  margin-bottom: 6em;
}

#table td, th{
  padding: 10px;
}

#table tr:nth-child(even){background-color: rgb(32, 32, 32, 0.6); color: #fff;}

.title{
  color: #fffbfb;
  letter-spacing: 1px;
  background-color: #151515;
  padding-bottom: 30px;
}

.title.left, td.left{
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.title.right, td.right{
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.icon{
  font-size: 23px;
}

ion-icon[name=checkmark]{
  color: #25db00;
}

ion-icon[name=remove]{
  color: #faebd7;
}

ion-icon[name=link]{
  font-size: 19px;
}

ion-icon[name=link]:hover{
  color: #faebd7;
}

.description{
  max-width: 15em;
  text-align: justify;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
}

.description.active{
  overflow: visible;
  white-space: normal;
  transition:  1s ease-in-out;
}

td span{
  display: none;
}

.link{
  text-align: center;
}


p{
  position: relative;
  text-align: right;
  
  font-family: 'Open Sans';
  /* text-indent: 10px; */
  
}